* {
  position: absolute;
}

h1 {
  width: 350px;
  text-align: center;
}

.super-mario {
  width: 300px;
  top: 100px;
}

.goomba {
  width: 300px;
  top: 550px;
  left: 200px;
}

.word {
  top: 150px;
  left: 450px;
  width: 170px;
  text-align: center;
  z-index: 2;
}

.baloon {
  top: 100px;
  left: 400px;
  z-index: 1;
}

.bowser {
    width: 300px;
    top: 200px;
    left: 700px;
}
