div {
  box-sizing: border-box;
  margin: 5px;
}

div:hover {
  height: 42px;
  border: 3px solid #000;
}



h3 {
  margin: 0;
  padding: 10px 10px;
  height: 100%;
}

#primary-color {
  background-color: deepskyblue;
  font-style: italic;
}

#secondary-color {
  background-color: lightseagreen;
}

#complement-color {
  height: 60px;
  background-color: salmon;
  font-style: italic;

}

#dark-color {
  background-color: #222;
  color: #fff;
}

#light-color {
  background-color: #ccc;
  font-style: italic;

}