body {
  font-size: 16px;
}

h1 {
  font-family: sans-serif;
  font-size: 65px;
  color: orange;
  text-align: center;
}

p {
  font-size: 3em;
  font-weight: 600;
}

ul {
  font-family: monospace;
  background-color: palegreen;
  text-decoration: underline;
  line-height: 2;
}

.favorite-colors {
  background-color: paleturquoise;
}

#yellow {
  background-color: yellow;
}

#brown {
  background-color: sienna;
}

#red {
  background-color: tomato;
}